.one {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.three {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.3px #FFF;
  font-size: 20px;
}

.three:hover {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.3px #FACD64;
}

.two {
  color: #FFF;
  font-size: 25px;
}

.two:hover {
  color: #FA6964;
}

h1 {
  color: #FACD64;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-size: 5vh;
  position: absolute;
  bottom: 30vh;
  line-height: 6vh;
}

canvas {
  position: fixed;
  z-index: -1;
  top: 0;
  display: block;
}

nav {
  height: 8vh;
}

.text {
  height: 8vh;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  align-items: center;
}

.textmenu {
  margin-right: 3vw;
}
